html {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 , h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title {
    font-family: 'Courier New', Courier, monospace;
    color: darkgoldenrod;
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}
#content{
    margin: 2rem auto;
    max-width: 1200px;
}
nav > ul {
    list-style: none;
    padding: 0;
}
nav > ul > li > a, nav > ul > li > a:link, nav > ul > li > a:visited {
    border: 2px solid #000;
    padding: 5px;
    text-decoration: none;
    color: #000;
}
nav > ul > li > a:hover, nav > ul > li > a:visited {
    background-color: #AAA;
}
